In [2]:
import requests
import json
import pandas as pd
import geopandas as gpd
from zipfile import ZipFile
from shapely.geometry import mapping
from datetime import datetime
from functools import reduce
import numpy as np

In [24]:
data = pd.read_csv('../../../data/sales__and_permitsData_by_date_all.csv')
data = data.sort_values(by=['address', 'date'])

/var/folders/dp/6l162bjn4pzdgpn5hkysn1dr0000gn/T/ipykernel_56468/4278492196.py:1: DtypeWarning: Columns (1,4,5,8,12,13,20,21,45,46,47,48,49,50,51,52,53,55,56,62,63,67,68,69,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,91,95,96) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../../../data/sales__and_permitsData_by_date_all.csv')

In [28]:
#filter for only sales data that is recognizable by parcel (exclude permits that don't relate to any parcel)
sales_data = data.dropna(subset=['address', 'parcel_id', 'price'])
print(sales_data)

                     address            street    city     zip proptype  \
90229        1 Abbotsford St     Abbotsford St  Boston  2121.0      R2F
90230        1 Abbotsford St     Abbotsford St  Boston  2121.0      R2F
102878           1 Agnes Ave         Agnes Ave  Boston  2136.0      R1F
97458           1 Ainsley St        Ainsley St  Boston  2122.0      R1F
97459           1 Ainsley St        Ainsley St  Boston  2122.0      R1F
...                      ...               ...     ...     ...      ...
39439      999 Hyde Park Ave     Hyde Park Ave  Boston  2136.0      R1F
40824   999 Metropolitan Ave  Metropolitan Ave  Boston  2136.0      R1F
36264          999 Morton St         Morton St  Boston  2126.0      COM
46553           999 South St          South St  Boston  2131.0      R1F
46554           999 South St          South St  Boston  2131.0      R1F

              date    year     price  prsldate    prslpr  ...  owner  \
90229   2011-11-02  2011.0  193000.0  05/20/97  150000.0  ...    NaN
90230   2012-03-30  2012.0  340500.0  11/02/11  193000.0  ...    NaN
102878  2002-09-04  2002.0  285000.0       NaN       0.0  ...    NaN
97458   2000-04-21  2000.0  219000.0       NaN       0.0  ...    NaN
97459   2004-08-13  2004.0  412500.0  04/21/00  219000.0  ...    NaN
...            ...     ...       ...       ...       ...  ...    ...
39439   2010-09-15  2010.0  230000.0       NaN       0.0  ...    NaN
40824   2021-05-17  2021.0  925000.0  11/30/99  310000.0  ...    NaN
36264   2000-04-05  2000.0  244000.0       NaN       0.0  ...    NaN
46553   2001-08-22  2001.0  427500.0  03/18/93  176500.0  ...    NaN
46554   2004-12-06  2004.0  586500.0  08/22/01  427500.0  ...    NaN

        owner type occupancytype sq_feet  state  property_id  gpsy  gpsx  \
90229          NaN           NaN     NaN    NaN          NaN   NaN   NaN
90230          NaN           NaN     NaN    NaN          NaN   NaN   NaN
102878         NaN           NaN     NaN    NaN          NaN   NaN   NaN
97458          NaN           NaN     NaN    NaN          NaN   NaN   NaN
97459          NaN           NaN     NaN    NaN          NaN   NaN   NaN
...            ...           ...     ...    ...          ...   ...   ...
39439          NaN           NaN     NaN    NaN          NaN   NaN   NaN
40824          NaN           NaN     NaN    NaN          NaN   NaN   NaN
36264          NaN           NaN     NaN    NaN          NaN   NaN   NaN
46553          NaN           NaN     NaN    NaN          NaN   NaN   NaN
46554          NaN           NaN     NaN    NaN          NaN   NaN   NaN

        geom_point_2249  geom_point_4326
90229               NaN              NaN
90230               NaN              NaN
102878              NaN              NaN
97458               NaN              NaN
97459               NaN              NaN
...                 ...              ...
39439               NaN              NaN
40824               NaN              NaN
36264               NaN              NaN
46553               NaN              NaN
46554               NaN              NaN

[122339 rows x 97 columns]

In [29]:
# Group by 'address' and count the number of transactions for each address
address_counts = sales_data.groupby('address').size()

# Filter out addresses with more than one transaction
sold_multiple = address_counts[address_counts > 1].index.tolist()

# Filter the original DataFrame to get only the rows with addresses that have multiple transactions
sold_multiple = sales_data[sales_data['address'].isin(sold_multiple)]

In [30]:
# Display the filtered DataFrame
print(sold_multiple)

               address         street    city     zip proptype        date  \
90229  1 Abbotsford St  Abbotsford St  Boston  2121.0      R2F  2011-11-02
90230  1 Abbotsford St  Abbotsford St  Boston  2121.0      R2F  2012-03-30
97458     1 Ainsley St     Ainsley St  Boston  2122.0      R1F  2000-04-21
97459     1 Ainsley St     Ainsley St  Boston  2122.0      R1F  2004-08-13
97460     1 Ainsley St     Ainsley St  Boston  2122.0      R1F  2020-10-16
...                ...            ...     ...     ...      ...         ...
22000   998 Tremont St     Tremont St  Boston  2120.0      APT  2001-05-02
22001   998 Tremont St     Tremont St  Boston  2120.0      APT  2014-01-24
22002   998 Tremont St     Tremont St  Boston  2120.0      APT  2016-02-03
46553     999 South St       South St  Boston  2131.0      R1F  2001-08-22
46554     999 South St       South St  Boston  2131.0      R1F  2004-12-06

         year      price  prsldate     prslpr  ...  owner  owner type  \
90229  2011.0   193000.0  05/20/97   150000.0  ...    NaN         NaN
90230  2012.0   340500.0  11/02/11   193000.0  ...    NaN         NaN
97458  2000.0   219000.0       NaN        0.0  ...    NaN         NaN
97459  2004.0   412500.0  04/21/00   219000.0  ...    NaN         NaN
97460  2020.0   600000.0  08/13/04   412500.0  ...    NaN         NaN
...       ...        ...       ...        ...  ...    ...         ...
22000  2001.0   297000.0       NaN        0.0  ...    NaN         NaN
22001  2014.0  1455000.0  05/02/01   297000.0  ...    NaN         NaN
22002  2016.0  2890475.0  01/24/14  1455000.0  ...    NaN         NaN
46553  2001.0   427500.0  03/18/93   176500.0  ...    NaN         NaN
46554  2004.0   586500.0  08/22/01   427500.0  ...    NaN         NaN

      occupancytype sq_feet  state  property_id  gpsy  gpsx  geom_point_2249  \
90229           NaN     NaN    NaN          NaN   NaN   NaN              NaN
90230           NaN     NaN    NaN          NaN   NaN   NaN              NaN
97458           NaN     NaN    NaN          NaN   NaN   NaN              NaN
97459           NaN     NaN    NaN          NaN   NaN   NaN              NaN
97460           NaN     NaN    NaN          NaN   NaN   NaN              NaN
...             ...     ...    ...          ...   ...   ...              ...
22000           NaN     NaN    NaN          NaN   NaN   NaN              NaN
22001           NaN     NaN    NaN          NaN   NaN   NaN              NaN
22002           NaN     NaN    NaN          NaN   NaN   NaN              NaN
46553           NaN     NaN    NaN          NaN   NaN   NaN              NaN
46554           NaN     NaN    NaN          NaN   NaN   NaN              NaN

       geom_point_4326
90229              NaN
90230              NaN
97458              NaN
97459              NaN
97460              NaN
...                ...
22000              NaN
22001              NaN
22002              NaN
46553              NaN
46554              NaN

[92221 rows x 97 columns]

In [31]:
# Initialize the 'profit' column with NaN values
sold_multiple['profit'] = np.nan

/var/folders/dp/6l162bjn4pzdgpn5hkysn1dr0000gn/T/ipykernel_56468/4089798249.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sold_multiple['profit'] = np.nan

In [9]:
example = pd.read_csv('../data_processing/output/65 E India Row #30A.csv')

In [ ]:
#filter for only flipped property

In [3]:
#clean sales and add parcels to it - include all data, just add parcels from the SAM
SAM.rename(columns={'X': 'lon', 'Y': 'lat', 'PARCEL': 'parcel_id'}, inplace=True)
SAM_processed = SAM[['FULL_ADDRESS', 'parcel_id', 'MAILING_NEIGHBORHOOD', 'ZIP_CODE']]
SAM_processed = SAM_processed.groupby('FULL_ADDRESS').agg({'MAILING_NEIGHBORHOOD': 'first', 'parcel_id': 'first', 'ZIP_CODE': 'first'}).reset_index()
sales_parcels = pd.merge(sales, SAM_processed, left_on=['address'], right_on = ['FULL_ADDRESS'], how='left')
sales_parcels['date'] = pd.to_datetime(sales_parcels['date']).dt.date
sales_parcels = sales_parcels.sort_values(by=['parcel_id', 'date'])

In [4]:
def convert_dollar_to_float(currency_str):
    # Remove dollar signs and commas, then convert to float
    return float(currency_str.replace('$', '').replace(',', ''))

In [5]:
#clean permits
permits['issued_date'] = pd.to_datetime(permits['issued_date']).dt.date
residential_occupancy = ['1-3FAM', '6Unit', '1-2FAM', '1Unit', 'Mixed',
       '7More', '1-4FAM', 'Multi', '2unit', '1-7FAM',
       '7unit', '3unit', 'VacLd', '6unit', '4unit', '5unit', 'MIXED', '4Unit']
permits = permits[(permits['occupancytype'].isin(residential_occupancy)) | (pd.isna(permits['occupancytype']))]
permits.reset_index(drop=True, inplace=True)
permits = permits[['worktype','permittypedescr', 'description', 'comments', 'declared_valuation', 'total_fees', 'issued_date', 'owner','owner type','occupancytype','parcel_id']]
# Values to remove
values_to_remove_valu = ['($40,000.00)', '($200,000.00)']
# Create a mask for rows to drop
mask_valu_drop = permits['declared_valuation'].isin(values_to_remove_valu)
# Drop these rows
permits = permits.drop(permits[mask_valu_drop].index)
permits['declared_valuation'] = permits['declared_valuation'].apply(convert_dollar_to_float)
permits['total_fees'] = permits['total_fees'].apply(convert_dollar_to_float)

permits_process = permits.copy()

In [6]:
permits.dtypes

worktype               object
permittypedescr        object
description            object
comments               object
declared_valuation    float64
total_fees            float64
issued_date            object
owner                  object
owner type             object
occupancytype          object
parcel_id             float64
dtype: object

In [7]:
#define new df and initialize columns
sales_with_permits_by_date = sales_parcels.copy()
sales_with_permits_by_date['permit_valu_up2_sale'] = pd.Series([np.nan] * len(sales_with_permits_by_date))
sales_with_permits_by_date['permit_fees_up2_sale'] = pd.Series([np.nan] * len(sales_with_permits_by_date))
sales_with_permits_by_date['investor_permit'] = None
sales_with_permits_by_date['investor_type_permit'] = None
sales_with_permits_by_date['comments'] = None
sales_with_permits_by_date['description'] = None
sales_with_permits_by_date['permittypedescr'] = None
sales_with_permits_by_date['worktype'] = None
sales_with_permits_by_date['occupancy_permit'] = None

In [8]:
# sale = sales_with_permits_by_date.iloc[9]
# mask = (permits_process['parcel_id'] == sale['parcel_id']) & (permits_process['issued_date'] < sale['date'])

# relevant_permits = permits_process[mask]
# print(sale['parcel_id'])
# print(sale['date'])
# print(sale)
# print(relevant_permits['issued_date'])

In [9]:
def process_permits(sales_df, permits_df):

    sales_df = sales_df.sort_values(by=['parcel_id', 'date'])

    # Process each transaction
    for idx, sale in sales_df.iterrows():
        # Filter permits based on 'parcel_id' and dates prior to the sale date
        mask = (permits_df['parcel_id'] == sale['parcel_id']) & (permits_df['issued_date'] < sale['date'])
        relevant_permits = permits_df[mask]
        
        # Summarize 'declared_valuation' and 'total_fees'
        if not relevant_permits.empty:
            sales_df.at[idx, 'permit_valu_up2_sale'] = relevant_permits['declared_valuation'].sum()
            sales_df.at[idx, 'permit_fees_up2_sale'] = relevant_permits['total_fees'].sum()
            
            # Find the owner with the largest declared valuation
            largest_valuation_row = relevant_permits.loc[relevant_permits['declared_valuation'].idxmax()]

            # Get the owner and owner type from the largest valuation row
            sales_df.at[idx, 'investor_permit'] = largest_valuation_row['owner']
            sales_df.at[idx, 'investor_type_permit'] = largest_valuation_row['owner type']
            sales_df.at[idx, 'occupancy_permit'] = largest_valuation_row['occupancytype']
            
            # Concatenate and set the fields from all relevant_permits
            sales_df.at[idx, 'comments'] = '|'.join(relevant_permits['comments'].dropna().astype(str))
            sales_df.at[idx, 'description'] = ','.join(relevant_permits['description'].dropna().astype(str))
            sales_df.at[idx, 'permittypedescr'] = ','.join(relevant_permits['permittypedescr'].dropna().astype(str))
            sales_df.at[idx, 'worktype'] = ','.join(relevant_permits['worktype'].dropna().astype(str))

            # Remove processed permits from the permits_df
            permits_df = permits_df.drop(relevant_permits.index)

    return sales_df

In [10]:
updated_sales_with_permits_by_date = process_permits(sales_with_permits_by_date, permits_process)

In [11]:
updated_sales_with_permits_by_date.to_csv('/Users/adi/Dropbox (MIT)/6.C35 Group Project/Data/Modified Datasets/Adi/sales_permitsData_by_date_nullincl.csv', index=False)

0.9363216985326812

In [4]:
#continue from after making the mega dataset 
updated_sales_with_permits_by_date = pd.read_csv('output/sales_permitsData_by_date_nullincl.csv')
all_permits = pd.read_csv('raw/Boston Approved Building Permits 2009-2022.csv')

/var/folders/dp/6l162bjn4pzdgpn5hkysn1dr0000gn/T/ipykernel_67543/224187964.py:2: DtypeWarning: Columns (67,68,69,73,74,75,76,77,78,79) have mixed types. Specify dtype option on import or set low_memory=False.
  updated_sales_with_permits_by_date = pd.read_csv('output/sales_permitsData_by_date_nullincl.csv')
/var/folders/dp/6l162bjn4pzdgpn5hkysn1dr0000gn/T/ipykernel_67543/224187964.py:3: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  all_permits = pd.read_csv('raw/Boston Approved Building Permits 2009-2022.csv')

In [5]:
# Find rows in permits_df where parcel_id is NOT in sales_df
non_matching_permits = all_permits[~all_permits['parcel_id'].isin(updated_sales_with_permits_by_date['parcel_id'])]

# Append these rows to the sales_df
updated_sales_with_all_permits = pd.concat([updated_sales_with_permits_by_date, non_matching_permits], ignore_index=True)

In [7]:
updated_sales_with_all_permits['price'].isnull().sum()
updated_sales_with_all_permits.to_csv('/Users/adi/Dropbox (MIT)/6.C35 Group Project/Data/Modified Datasets/Adi/sales__and_permitsData_by_date_all.csv', index=False)

In [5]:
data = pd.read_csv("output/sales__and_permitsData_by_date_all.csv")

/var/folders/dp/6l162bjn4pzdgpn5hkysn1dr0000gn/T/ipykernel_73327/1335179767.py:1: DtypeWarning: Columns (1,4,5,8,12,13,20,21,45,46,47,48,49,50,51,52,53,55,56,62,63,67,68,69,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,91,95,96) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("output/sales__and_permitsData_by_date_all.csv")